<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectBinar"
        tools:targetApi="31" >
        <activity
            android:name=".presentation.seeallpopularcourse.SeeAllPopularCourseActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.account.change_password.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.account.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.payment.payment_webview.PaymentWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.payment.payment_summary.PaymentSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.account.payment_history.PaymentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.onboarding.OnBoardingActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.MainActivity"
            android:exported="false" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:name=".presentation.detailcourse.DetailCourseActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.auth.otp.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.auth.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.search.SearchActivity"
            android:exported="false" />
    </application>

</manifest>